{
        'AUTHTYPE': '{{ LDAP_AUTHTYPE }}',
        'LDAPBASE': '{{ LDAP_BASE }}',
        'LDAPURI': '{{ LDAP_URI }}',
        'START_TLS': {{ LDAP_START_TLS }},
        'EDITABLE': {{ LDAP_EDITABLE }},
        'LDAPSEARCHFILTER': '{{ LDAP_SEARCHFILTER }}',
        'SERVERPOOL_ROUNDS': {{ LDAP_SERVERPOOL_ROUNDS }},
        'UIDTYPE': '{{ LDAP_UIDTYPE }}',
        'TLS_VERIFY': {{ LDAP_TLS_VERIFY }},
        'SERVERPOOL_SKIP': {{ LDAP_SERVERPOOL_SKIP }},
        'USERINFO': '{{ LDAP_USERINFO }}',
        'TIMEOUT': {{ LDAP_TIMEOUT }},
        'SIZELIMIT': {{ LDAP_SIZELIMIT }},
        'SCOPE': '{{ LDAP_SCOPE }}',
        'NOREFERRALS': {{ LDAP_NOREFERRALS }},
        'CACHE_TIMEOUT': {{ LDAP_CACHE_TIMEOUT }},
        'LOGINNAMEATTRIBUTE': '{{ LDAP_LOGINNAMEATTRIBUTE }}',
        'NOSCHEMAS': {{ LDAP_NOSCHEMAS }}
}