#!/usr/bin/python
import sys, os

sys.stdout = sys.stderr

activate_env=os.path.expanduser('{{ pivenv_path }}/bin/activate_this.py')

execfile(activate_env, dict(__file__=activate_env))


from privacyidea.app import create_app
# Now we can select the config file:
application = create_app(config_name="production",
                         config_file="/etc/privacyidea/pi.cfg")